:root {
  --iapau-color-bg-default: #ffffff;
  --iapau-color-bg-primary: #0e8769;
  /* a modifier */
  --iapau-color-text-primary: black;
  --iapau-font-family-default: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}